<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="3.1.1" targetFramework="net471" />
  <package id="Microsoft.Unity.Analyzers" version="1.7.1" targetFramework="net471" developmentDependency="true" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net471" />
</packages>